@font-face {
  font-family: myfont;
  src: url("/Fonts/chopin-script/ChopinScript.ttf");
}

@font-face {
  font-family: greatFont;
  src: url("/Fonts/great-vibes/GreatVibes-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.35s;
    font-family: myfont;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


.bg-img{
  height: 100vh;
  background: url("/img/border.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}

.weds{
  width: 0%;
  overflow: hidden;
  animation-name: weds;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  
}

@keyframes weds {
  from{width:0%}
  to{width: 65%;}
}

.upper-line, .lower-line{
  border: 1px solid rgb(193, 193, 193);
}

.names{
  font-size: 35px;
  text-align: center;
}

.groom, .bride-img, .venue{
  width: 55%;
}

.groom img, .bride-img img{
  width: 100%;
}

.groom {
  font-size: larger;
}

.bride-img img{
  margin: 15px 0px;
}

.venue{
  font-size: larger;
}

.second{
  height: 100vh;
}

.wed-title{
  font-size: xx-large;
  text-align: center;
  padding: 0px 30px;
}

.red{
  color: red;
  font-size: larger;
}

.names-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75vh;
  padding:10px;
}

.names{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name{
  font-family: greatFont;
  display: flex;
  align-items: center;
}

.names img{
  width: 50%;
}

.fun-head h1{
  text-align: center;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-line, .right-line{
  width: 35%;
  border: 1px solid rgb(74, 73, 73);
  height: 2px;
  background-color: rgb(74, 73, 73);
}



.function{
  text-align: center;
}

.function img{
  width: 90%;
  margin: auto;
  border: 4px solid rgb(252, 151, 0);
}

.fun-info{
  background-image: url("/img/wed-template.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  width: 90%;
  margin: auto;
  height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end{
  background: url("/img/end.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}





